[submodule "myapp"]
	path = myapp
	url = https://github.com/AllenAby/myapp.git
[submodule "rlbox"]
	path = rlbox
	url = https://github.com/AllenAby/rlbox.git
[submodule "rlbox-book"]
	path = rlbox-book
	url = https://github.com/AllenAby/rlbox-book.git
[submodule "rlbox_from_rust"]
	path = rlbox_from_rust
	url = https://github.com/AllenAby/rlbox_from_rust.git
[submodule "rlbox_wasm2c_sandbox"]
	path = rlbox_wasm2c_sandbox
	url = https://github.com/AllenAby/rlbox_wasm2c_sandbox.git